<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/css/reveal.css" rel="stylesheet"></link>
    <script src="/js/jquery-2.1.0.min.js" ></script>
    <script src="/js/stomp.js" ></script>
    <script src="/js/sockjs-0.3.4.min.js" ></script>
    <script src="/js/reveal.js" ></script>
    <script src="/js/slideshow.js" ></script>
    <script> var client = new Client(1); </script>
    
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
   
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name" />
        <button id="sendName">Send</button>
        <p id="response"></p>
    </div>
    
    <div id = "Heart">
    initial
    </div>

    <div id = "Poll">

        <div class ="option" data-option="A">
            A
        </div>
        <br/>
        <div class ="option" data-option="B">
            B
        </div>
    </div>
</div>
</body>
</html>