<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <title>Confirmation</title>
</head>
<body class="mobile">
<div>
    <div class="grid flex">
        <div class="content center">
            <div style="width: 400px; height: 400px;" class="Center" id="logo"></div>
            <div class="col_12">
                <h1>:( Sorry! We need more funding in order to send you your comments and notes!</h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>