<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css" media="all" /> <!-- KICKSTART -->
    <title>Slideshow</title>
<body id="home">
<div class="container">
    <div class="grid flex">
        <div class="col_12 navbar">
            <div class="pull-left" id="logo"></div>
            <!-- Menu Horiz ontal -->
            <form id="signin-form" class="pull-right">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="password" placeholder="Password">
                <button type="button" class="small">Sign in</button>
            </form>
        </div>
        <div class="content center">
            <div class="col_12">
                <h5>Something Awesome about us!</h5>
            </div>
            <div class="col_6">
                <h5>Join a presentation</h5>
                <button type="button" class="medium orange">Join a presentation</button>
            </div>
            <div class="col_6">
                <h5>Create your first presentation</h5>
                <button type="button" class="medium">Create an account</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>