<head>
    <title>SLDSHW</title>
    <link href="../static/css/reveal.css" th:href="@{/css/reveal.css}" rel="stylesheet"></link>
    <link href="../static/css/default.css" th:href="@{/css/default.css}" rel="stylesheet" id="theme"></link>
    <link href="../static/css/actions.css" th:href="@{/css/actions.css}" rel="stylesheet" id="theme"></link>
    <script src="../static/js/jquery-2.1.0.min.js" th:src="@{/js/jquery-2.1.0.min.js}" ></script>
    <script src="../static/js/stomp.js" th:src="@{/js/stomp.js}" ></script>
    <script src="../static/js/sockjs-0.3.4.min.js" th:src="@{/js/sockjs-0.3.4.min.js}" ></script>
    <link href="../static/css/graph.css" th:href="@{/css/graph.css}" rel="stylesheet"></link>
    <script src="../static/js/reveal.js" th:src="@{/js/reveal.js}" ></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    
    
    <style>

    .bar {
      fill: #e59c0c;
    }

    .bar:hover {
      fill: #f2c122;
    }

    .axis {
      font: 20px solid white;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #ffffff;
      shape-rendering: crispEdges;
    }
    .axis text{
        fill: #ffffff;
    }

    .x.axis path {
      display: none;
    }
    #results table{
        margin: 0 auto;
        text-align: left;
        color: #ffffff;
    }
    #results td{
        text-align: center;
    }
    #results td:first-child{
        text-align: left;
    }
    #results span{
        margin-right: 15px;
    }

    </style>
</head>
 
<body>
    <!-- Wrap the entire slide show in a div using the "reveal" class. -->
    <div class="reveal">
        <!-- Wrap all slides in a single "slides" class -->
        <div class="slides">
 
            <!-- ALL SLIDES GO HERE -->
            <!-- Each section element contains an individual slide -->
            <section>
                <h1>SLDSHW</h1>
                
                
                <div>Better Presentations One Slide at a Time</div>
                <br></br>
                <p style="font-size:50px;   color: #14a4b0;">goo.gl/M5F7mm</p>
                <div style="text-align: right; color: #14a4b0;">@SLDSHW</div>
                <div style="text-align: right; color: #14a4b0;margin-bottom: 20px;">#SWUBC</div>
                <div style="text-align: right; color: #14a4b0; font-size: 20px;">
                        <p>Aswin Kumar
                            <br />Duncan Bernardo
                        <br />Salma Kheiravar
                        <br />Shu Zhang
                        <br />Phillip Swanson
                        <br />Shawn Clark</p>
                </div>
            </section>

            <section id="show-a-link">
                <h1>Presentations</h1>
                <ul>
                    <li>1-Way Conversation</li>
                    <li>Present, Rinse, Repeat</li>
                    <li>Entrepreneurs, Educators, Professionals, YOU!</li>
                    <li>What's missing</li>
                </ul>
                <h3 style="text-align: center; color: #14a4b0;">FEEDBACK!</h3>
            </section>
            <section>
                <h1>Solution - SLDSHW</h1>
                <ul>
                    <li>Audience Interaction - Keep them Focused</li>
                    <li>Real-time Feedback</li>
                    <li>Aggregate Date</li>
                    <li>Easy Sharing</li>
                    <li>Elaborate and Clarify</li>
                </ul>
                <h3 style="text-align: center; color: #14a4b0;">Presentation + Feedback = Iterate</h3>
            </section>

            <section>
                <h1>How Does it work</h1>
                <ul>
                    <li>Create a Presentation</li>
                    <li>Audience Syncs with The Presentation</li>
                    <li>Like Questions and Note</li>
                    <li>Get Aggregate Data or Real-Time Feedback</li>
                    <li>Expand on Sticky Points</li>
                    <li>Connect with the Audience by Email</li>
                </ul>
                <h3 style="text-align: center; color: #14a4b0;">Welcome to The Prototype</h3>
            </section>

            <section>
                <h1>How Do We Make Money?</h1>
                <h3 style="text-align: center; color: #14a4b0;">Cost</h3>
                <p style="margin-bottom: 20px;">Software License, Servers, Organizational fees, Business Development &amp; Partnerships</p>
                <h3 style="text-align: center; color: #14a4b0;">Revenue</h3>
                <p>Subscribers, Lead Generation, High Volume Data, Privacy and Analytics</p>
            </section>
            
            <section>
                <h1>FACTS</h1>
                <h3 style="text-align: center; color: #14a4b0;">Audience &amp; Presenters</h3>
                <div style="color: #14a4b0;">80% Want To Provide Feedback</div>
                <ul>
                    <li>Save Their Slides</li>
                    <li>Express Confusion</li>
                    <li>Take Notes</li>
                </ul>
                <div style="color: #14a4b0">95% Would Love Aggregate Data</div>
                <ul>
                    <li>Make Improvements - Get Better</li>
                    <li>Clarify Their Message</li>
                </ul>
                <br></br>
                <div>"Every dollar i've raised has come down to 5 Minute Pitches, I would love to use a product that helped me get better. </div>
                <div>$800,000 depended on it!" - Jayesh Parmar, CEO - PICATIC</div>
            </section>
            
            <section>           
                <h1>OUR MARKET</h1>
                <h3 style="text-align: center; color: #14a4b0;">Customers</h3>
                <ul style="text-align: left;">
                    <li>Professional Presenters </li>
                    <li>Educators</li>
                    <li>Large Organizations</li>
                </ul>
                <h3  style="text-align: center; color: #14a4b0;">Market Size - 30,000 Presentations Done a Day</h3>
                <ul>
                    <li>Competitors</li>
                    <li>SlideShare - Analytics not Real-Time</li>
                    <li>TopHat - Classroom Engagement App - UX Issues</li>
                    <li>Slid.Es - Online Slides - No Feedback</li>
                </ul>           
            </section>
            <section>
                <h1>Marketing &amp; Product</h1>
                <h3 style="text-align: center; color: #14a4b0;">Go to Market</h3>
                <ul><li>Pitch!</li>
                    <li>Provide Product to Conferences, Incubators, Schools</li>
                    <li>IMC - Blog, PR, Social, Digital, Videos</li>
                    <li>Channel Partners - GUST, AngelList, SalesForce, ASTD</li></ul>
                <h3 style="color: #14a4b0;">Product Roadmap</h3>
                <p>API Integration, Video, Educational Tools and Data Based Decisions</p>
            </section>
            <section>
                <h1>The Numbers</h1>
                <h3 style="text-align: center; color: #14a4b0;">Pricing</h3>
                <ul>
                    <li>Free - One Public SLDSHW</li>
                    <li>Premium - Unlimited Private Decks + Detailed Analytic</li>
                    <li>Enterprise - Unlimited + Multiple Users and Sharing</li>
                </ul>
                <h3 style="text-align: center; color: #14a4b0;">Next Steps</h3>
                <ul>
                    <li>Raise Funding</li>
                    <li>Establish Partnerships with Channel Partners</li>
                    <li>Domain and Servers - Scalability </li>
                    <li>GET YOUR SLIDES AND FEEDBACK!</li>
                </ul>
            </section>
            
            
            <section>
                <!-- content to be placed inside <body></body> -->
                <h1> Thank You</h1>
                <div id="results">
                    <table>
                        <thead>
                            <tr>
                                <td></td>
                                <td class="heart active"></td>
                                <td class="question active"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pageId">
                                <td><span class="pageId">8</span><span class="pageTitle">Marketing &amp; Product</span></td>
                                <!--heart-->
                                <td>21</td>
                                <!--questions-->
                                <td>12</td>
                            </tr>
                            <tr class="pageId">
                                <td><span class="pageId">2</span><span class="pageTitle">FACTS</span></td>
                                <!--heart-->
                                <td>18</td>
                                <!--questions-->
                                <td>4</td>
                            </tr>
                            <tr class="pageId">
                                <td><span class="pageId">4</span><span class="pageTitle">OUR MARKET</span></td>
                                <!--heart-->
                                <td>10</td>
                                <!--questions-->
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                </div>
            </section>
            
            <section>
                <!-- content to be placed inside <body></body> -->
                <h1>FIN</h1>
            </section>
            
        </div>
        <div>
            <div style="position:fixed; margin: 80px">
                <div style="display:inline-block; margin-bottom:-10px; width: 40px; height: 40px" class="heart active"></div>
                <div style="display:inline-block; font-size: 30px;" id="heartCount">0</div>
                <div style="display:inline-block; margin-bottom:-10px; width: 40px; height: 40px" class="question active"></div>
                <div style="display:inline-block; font-size: 30px;" id="questionCount">0</div>
            </div>


        </div>
        <script>
            Reveal.initialize({});
        </script>
        <script src="/js/slideshow.js" ></script>
        <script> var host = new Host(1); </script>
        
    </div>
</body>
<script>

var data = [{category: "Yes", value: 1},{category: "No", value: 1}]

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")

var svg = d3.select("#poll").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(data.map(function(d) { return d.category; }));
y.domain([0, d3.max(data, function(d) { return d.value; })]);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis)
  .append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 6)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .text("Votes");

svg.selectAll(".bar")
  .data(data)
  .enter().append("rect")
  .attr("class", "bar")
  .attr("x", function(d) { return x(d.category); })
  .attr("width", x.rangeBand())
  .attr("y", function(d) { return y(d.value); })
  .attr("height", function(d) { return height - y(d.value); });

function type(d) {
  d.value = +d.value;
  return d;
}

var update = function (data){ 

    x.domain(data.map(function(d) { return d.category; }));
    y.domain([0, d3.max(data, function(d) { return d.value; })]);
    
    svg.selectAll("g.y.axis")
        .call(yAxis);

    svg.selectAll("g.x.axis")
        .call(xAxis);

    svg.selectAll("rect")
        .data(data)
        .transition()
        .duration(1000)
       .attr("y", function(d) { return y(d.value); })
        .attr("height", function(d) { return height - y(d.value); });
       }

</script>

