<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" media="all" />
<!-- KICKSTART -->
<title>Confirmation</title>
</head>
<body id="home">
	<div class="container">
		<div class="grid flex">
			<div th:replace="header :: header" class="col_12 navbar">Templated...
				look at header.html</div>
			<div class="content center">
				<div style="width: 200px; height: 200px;" class="Center" id="logo"></div>
				<div class="col_12">
					<h1>More funding</h1>
				</div>
			</div>
		</div>
	</div>

</body>
</html>