<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <title></title>
</head>
<body class="mobile">
<div>
    <div class="grid flex">
        <div class="content center">
            <div class="col_12">
                <h1>Something Awesome about us!</h1>
            </div>
            <div class="actions"></div>
            <span class="heart"></span>
            <span class="question"></span>
            <span class="notes"></span>
            <div id="noteInput"><textarea id="note"></textarea><button id="noteSubmit">Submit</button></div>
        </div>
        <div class="footer-mobile">
            <div class="pull-right" id="logo"></div>
            <div class="slide-number"><h2>2/12</h2></div>
        </div>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="HTML-KickStart-master/js/kickstart.js"></script> <!-- KICKSTART -->
</body>
</html>