<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" href="../static/css/style1.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/kickstart.js" th:src="@{/js/kickstart.js}"></script> <!-- KICKSTART -->
    <script src="../static/js/stomp.js" th:src="@{/js/stomp.js}"></script>
    <script src="../static/js/sockjs-0.3.4.min.js" th:src="@{/js/sockjs-0.3.4.min.js}"></script>
    <script src="../static/js/slideshow.js" th:src="@{/js/slideshow.js}"></script>
    <script> var host = new Client(1); </script>
</head>
<body class="mobile">
<div>
    <div class="grid flex">
        <div class="col_12">
            <div class="pull-right" id="logo"></div>
            <h2>2/12</h2>
        </div>
        <div class="content center">
            <div class="col_12">
                    <h1>Something Awesome about us!</h1>
                <div class="heart"></div>
                <div class="question"></div>
                <div class="notes"></div>
                <div id="noteInput" style="display:none; position: relative; top: 0; bottom: 0;"><textarea id="note"></textarea><button class="blue medium" id="noteSubmit">Submit</button></div>
            </div>
        </div>
    </div>
    <div th:include="register :: content" class="grid flex hidden"></div>
</div>
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close">Close</button>
    <p>test</p>
</div>
</body>
</html>
