<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" media="all" />
<!-- KICKSTART -->
<title>Register</title>
</head>
<body class="mobile">
	<div>
		<div th:fragment="content" class="grid flex">
			<div class="col_12">
				<div class="pull-right" id="logo"></div>
				<h1 id="pageTitle">Thanks for your attention!</h1>
			</div>
            <div class="col_12">
                <div style="width: 200px; height: 200px;" class="heart"><span style=" line-height:150px; margin:0 0 0 220px; font-size: 80px" id="userHeartCount">0</span></div>
                <div style="width: 200px; height: 200px;" class="question"><span style=" line-height:150px; margin:0 0 0 220px; font-size: 80px" id="userQuestionCount">0</span></div>
                <div style="width: 200px; height: 200px;" class="notes"><span style=" line-height:150px; margin:0 0 0 220px; font-size: 80px" id="userCommentCount">0</span></div>
                <div>
                    <h3>Enter your email address so we can send your comments and
                        notes</h3>
                    <form>
                        <input style="height: 100px; width: 100%;" type="text"
                               placeholder="Email" />
                        <button type="button" class="orange large">Submit</button>
                    </form>
                </div>
            </div>
		</div>
	</div>
</body>
</html>
