<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" media="all" />
<!-- KICKSTART -->
<title>Register</title>
</head>
<body class="mobile">
	<div>
		<div th:fragment="content" class="grid flex">
			<div class="col_12">
				<div class="pull-right" id="logo"></div>
				<h1>Thanks for your attention!</h1>
			</div>
            <div class="col_12">
                <div  style="width: 200px; height: 200px;" class="heart"></div>
                <div style="width: 200px; height: 200px;" class="question"></div>
                <div style="width: 200px; height: 200px;" class="notes"></div>
                <div>
                    <h3>Enter your email address so we can send your comments and
                        notes</h3>
                    <form>
                        <input style="height: 100px; width: 100%;" type="text"
                               placeholder="Email" />
                        <button type="button" class="orange large">Submit</button>
                    </form>
                </div>
            </div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="HTML-KickStart-master/js/kickstart.js"></script>
	<!-- KICKSTART -->
</body>
</html>
