<html>
<head>
    <link rel="stylesheet" href="/css/style.css" media="all" /> <!-- KICKSTART -->
    <title></title>
</head>
<body>
    <div class="header-background"></div>
    <div class="container">
        <div class="grid flex">
            <div class="col_12 navbar">
                <div class="pull-left" id="logo"></div>
                <!-- Menu Horiz ontal -->
                <form id="signin-form" class="pull-right">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="password" placeholder="Password">
                    <button type="button" class="small">Sign in</button>
                </form>
            </div>
            <div class="content"  id="slides-list">
                <div class="page-header">
                    <h3>Your Presentations</h3>
                </div>
                <div class="col_3 slide-box">
                    <h5>copy of the first page of the presentation</h5>
                    <div class="caption">
                        <div class="heart"></div>
                    </div>
                </div>
                <div class="col_3 add-slide">
                    <h1><a href="#">+</a></h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
