<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <title></title>
</head>
<body>
    <div class="header-background"></div>
    <div class="container">
        <div class="grid flex">
            <div th:replace="header :: header" class="col_12 navbar">
                <div class="pull-left" id="logo"></div>
                <div sec:authorize="isAuthenticated()">
	        		Hi <span th:text="${#authentication.name}"></span>
	    		</div>
            </div>
            <div class="content"  id="slides-list">
                <div class="page-header">
                    <h3>Your Presentations</h3>
                </div>
                <div class="col_3 slide-box">
                    <h5>copy of the first page of the presentation</h5>
                    <div class="caption">
                        <div class="heart"></div>
                    </div>
                </div>
                <div class="col_3 add-slide">
                    <h1><a href="#">+</a></h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
