<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="all" /> <!-- KICKSTART -->
    <title>Register</title>
</head>
<body class="mobile">
<div id="thank-you">
    <div class="grid flex">
        <div class="content center">
            <div class="col_12">
                <h1>Thanks for your attention!</h1>
            </div>
            <div class="speech-container">
                <div class="speech-bubble">
                    <span class="heart-speech speech"></span>
                    <span class="question-speech speech"></span>
                </div>
                <span class="heart"></span>
                <span class="question"></span>
            </div>
        </div>
        <div class="footer-mobile">
            <div class="pull-right" style="width: 100px; height: 100px;" id="logo"></div>
            <div class="slide-number"><h2>2/12</h2></div>
        </div>
    </div>
</div>

</body>
</html>